#wp_quick_menu_meta_box div.wp-quick-menu-details-hide{
    display: none;
}

.no-js #wp_quick_menu_meta_box div.wp-quick-menu-details-hide{
    display: block;
}

#wp_quick_menu_meta_box .advance-settings{
    display: none;
}

.no-js #wp_quick_menu_meta_box .advance-settings{
    display: block;
}

#wp_quick_menu_meta_box .inside .accordion-container .accordion-section.open h3{
    background: none repeat scroll 0 0 #f5f5f5;
}

#wp_quick_menu_meta_box .inside{
    padding: 0;
    margin: 0;
}

.pc_quick_menu_position{
    overflow:hidden;
}

.pc_quick_menu_item{
    padding:5px 5px;
    margin:7px 5px;
    border:1px solid #ccc;
    border-radius:3px;
    background:white;
    box-shadow:2px 2px 2px #ccc;
    overflow:hidden;
}

.pc_quick_menu_item:hover{
    cursor:grab;
}

.pcq-action-wrapper{
    width:25%;
    display:block;
    float:right;
}

.pcq-title-wrap{
    width:74%;
    float:left;
}

.pcq_edit_item,
.pcq_delete_item{
    float:right;
    font-size:.7em;
    border:1px solid #CCC;
    border-radius:3px;
    padding:5px 5px;
    margin:1px 2px;
}

.pcq_edit_item:hover,
.pcq_delete_item:hover{
    box-shadow:1px 1px 1px #CCC;
    cursor:pointer;
}

.pc-quick-drop-target{
    background-color:#ccc;
    height:2em;
    line-height:1em;
}

.pc_quick_menu_item.current-menu-item{
    background:#0071bc;
    color:white;
}

.pc_quick_menu_item.current-menu-item .pcq_delete_item{
    border-color:white;
}

.pc_quick_menu_item.item-depth-1{
    margin-left:20px;
}
.pc_quick_menu_item.item-depth-2{
    margin-left:40px;
}

#pcq_user_feedback{
    overflow:hidden;
}

.pcq-item-title-wrap{
    overflow:hidden;
    display:block;
}

.pcq-original{text-decoration:underline;}

.current-menu-item .pcq-original a{
    color:white;
}

.current-menu-item .pcq-original a:hover,
.current-menu-item .pcq-original a:focus{
    color:#f5f5f5;
}

.pcq-edit-item-form{
    border-top:1px solid #CCC;
    display:none;
    overflow:hidden;
    width:100%;
    margin:5px 2px 2px 2px;
    padding:5px;
}

.pcq-edit-item-form .spinner{
    margin-top:10px;
}

.pcq-menu-item-title{
    width:100%;
    clear:both;
}

.pcq-edit-item-form .pcq-edit-item-button{
    margin:5px 0 0 0;
}

#wp_quick_menu_meta_box .inside .accordion-section-title{
    border-left: none;
    border-right: none;
}

#wp_quick_menu_meta_box .wp_quick_nav_menu_checked{
    display: none;
}

#wp_quick_menu_meta_box .redcolor{
    color: red;
}

#wp_quick_menu_meta_box .accordion-section-content{
    padding: 5px 10px 15px 10px;
}

#wp_quick_menu_meta_box  .wp_quick_menu_advance_settings span{
    background-image: url("img/settings.png");
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    margin-top: 3px;
    padding-right: 4px;
    width: 16px;
}


#wp_quick_menu_meta_box  .wp_quick_menu_advance_settings {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#wp_quick_menu_meta_box .accordion-section-content p{
    margin-bottom: 2px;
}

.wp-quick-menu-strong{
    font-weight: bold;
}

.wp-quick-menu-name-title{
    font-style: italic;
    font-weight: normal;
}